
.row_head{
  width: 100%;
  height: 70px;
  padding: 5px;
}
.header_head{
  margin-left: -200px;
}
.Home_sub_head{
  max-width: 40px;
  color: black;
  border-color: black;
}

.left_col{
  height: 600px;
}


.card {
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 30px;
}


.member_img img{
  height: 350px;
  width: 60%;
}

.join button {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  font-weight: 600;
  border: 1px solid rgb(180, 175, 175);
  background-color: rgba(249, 240, 240, 0.9); 
  margin-top: -20px;
}

.unlock{
  margin-top: 40px;
  height: 30px;
  width: 200px;
  color: white;
  border-radius: 15px;
  font-weight: 600;
  border: 1px solid rgb(180, 175, 175);
  background-color: rgba(62, 199, 121, 0.701);

}

.reset{
  height: 30px;
  margin-top: 10px;
  color: white;
  width: 150px;
  border-radius: 15px;
  font-weight: 600;
  border: 1px solid rgb(180, 175, 175);
  background-color: rgba(62, 199, 121, 0.701); 

}

.Home_sub_head {
  width: "25px";
  height: "2px";
  border: "none";
  background-color: "black";
  margin-top: "-15px";
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  position: relative;
}







.phone-input input{
  height: 25px; 
  width: 200px; 
}



.continue {
  margin-top: 40px;
  height: 30px;
  width: 410px;
  color: white;
  border-radius: 15px;
  font-weight: 600;
  border: 1px solid rgb(180, 175, 175);
  background-color: rgba(17, 156, 221, 0.701);
}

.phone-input {
  display: flex;
}

.phone-input input {
  flex: 1;
  margin-right: 10px; 
}


.phone{
  color: white;
  border-radius: 15px;
  font-weight: 600;
  border: 1px solid rgb(180, 175, 175);
  background-color: white;
}

.input {
  border-radius: 15px;
  font-weight: 600;
  border: 1px solid rgb(180, 175, 175);
  background-color: white;
  padding: 0 15px;
  width: 410px;
}

.name, .email {
  margin-bottom: 10px; 
}

.celeb-img img{
  margin-left: -150px;
  margin-top: -50px
}

.celeb-img img{
  margin-left: -150px;
  margin-top: -50px;
  width: 800px;
  height: 500px;

}

@media (max-width: 400px) {
  body{
    width: 100%;
  }
  .col-8 {
    margin-top: 100px;
  }
  .img_header{
    width: 200px;
    margin-left: -200px;
    margin-right: 10px;
    margin-top: -10px;
  }
  .header_head h4{
    margin-left: 30px;
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .member_img {
    width: 360px;
  }
  .join {
    margin-left: 80px;
  }

  .menu-links a {
    margin: 0 15px;
  }
  
  .menu-links.hide {
    display: none;
  }
  
  .fa-bars {
    cursor: pointer;
  }

  .pro_icon {
    display: none; /* Hide profile icon on smaller screens */
  }

  .left_col {
    width: 100%;
    text-align: center; 
    margin-left: 100px;
    margin-top: 30px;
  }

  .home_head {
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .ms-md-5 {
    margin-left: 0 !important; /* Reset margin for medium and larger screens */
  }

  .carousel-item{
    margin-left: 50px;
  }
  .carousel {
    margin-top: 1rem;
    margin-left: 80px;
  }
   .carousel-inner {
    
    margin-top: -1rem;
    margin-left: -45px;
  } 
  .d-flex.justify-content-around {
    width: 100px;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    flex-direction: column; /* Center flex items horizontally */
  }
  .card {
    display: flex;
    width: 150px;
    margin-top: 0rem;
    margin-left: 0rem;
  }

  .unlock-para{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -60px;
  }
  
  .button1,
  .button2 {
    text-align: center;
    margin-left: -40px;
  }
 




  .text-info{
    width: 311px;
    margin-left: 40px;
  }
  
  .phone{
    width: 20px;
  }
  .form label{
  text-align: center;
  }
  
  .phone-input input{
    height: 25px; 
    width: 150px; 
  }
  .name input{
    height: 25px; 
    width: 311px; 
  }
  .email input{
    height: 25px; 
    width: 311px; 
  }
  
  .container .row .col-6{
    display: flex;
    flex-direction: column;
  }
  
  .celeb-img img {
    margin-top: 430px;
    margin-left: -270px;
    width: 500px;
    
  }
  
  .continue {
    height: 30px;
    width: 150px;
    margin-left: 100px;
  
  }
  
  .end-para{
    width: 311px;
  }
 
  
}